.job-description-title{
    font-style: italic;
}

.job-description-body{
    margin-left: 10%;
    padding-right: 5%;
    min-width: 400px;
    display: flex;
    column-gap: 15px;
    row-gap: 5px;
    flex-wrap: wrap;
}

.canvas-background{
    position: absolute;
    top: 0;
    right: 0;
    height: 200vh;
    width: 50%;
    z-index:-1;
}

@media only screen and (max-width: 600px) {
    .job-description-body{
        min-width: 100%;
    }
    .canvas-background{
        width:100% !important;
    }
}
