#root {
    display: flex;
    flex-direction: column;
    height: 100%;
}

body {
    margin: 0px;
    overflow-x: hidden;
}

html,
body {
    height: 100%;
}

.content {
    margin-top: 50px;
}

.canvas-banner:active,
.canvas-small:active {
    cursor: grabbing;
}

.canvas-banner {
    width: 100%;
    height: 500px;
    cursor: grab;
    position: relative;
}

.canvas-small {
    width: 500px;
    height: 500px;
    margin: auto;
    cursor: grab;
    position: relative;
}

.card {
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 50px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    z-index: 1;
    background-color: var(--bs-light);
}

.accordion-container {
    padding-bottom: 100px;
}

.accordion-item {
    border: none;
    margin-top: 5px;
    background-color: var(--bs-light);

    .accordion-button {
        background-color: var(--bs-light);
        color: var(--bs-dark);
    }
}

.navbar {
    z-index: 1;
    background-color: var(--bs-light);
    padding: 0px;

    .navbar-nav {
        padding-top: 0.5rem;

        .nav-link {
            color: var(--bs-dark);
        }

        .nav-link.active,
        .nav-link:hover {
            border-bottom: 4px solid #73CCA8;
            color: var(--bs-dark);
        }
    }

    .navbar-toggler {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        margin-left: 10px;
        border-color: var(--bs-dark);
        color: var(--bs-dark);
    }

    .navbar-toggler:focus {
        box-shadow: 0 0 0 0.1rem var(--bs-dark);
    }
}

.banner {
    position: absolute;
    left: 0;
    right: 0;
    height: inherit;
    background-repeat: no-repeat;
    background-size: cover;
}

.centered-loading {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    pointer-events: none;

    .progress {
        width: 100px;
    }
}

.orbit-controller {
    display: none;
}

.darkModeToggle {
    position: absolute;
    z-index: 2;
    width: 25px;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;

    @media only screen and (max-width: 992px) {
        right: 20px;
        top: 15px;
        height: 25px;
    }

    @media only screen and (min-width: 992px) {
        left: 20px;
    }
}

@media only screen and (max-width: 992px) {
    .orbit-controller {
        display: block;
    }

    .canvas-banner,
    .canvas-small {
        pointer-events: none;
    }
}


@media only screen and (max-width: 500px) {
    .accordion-body {
        padding-left: 0px;
        padding-right: 0px;
    }

    .canvas-small {
        width: 100%
    }
}